body {
    font-family: 'Comic Sans MS', sans-serif; /* Consistent font */
    text-align: center;
    background-color: #000000;
    background-image: url("doodlejumpbg2.png");
}

#board {
    /* background-color: green; */
    background-image: url("./doodlejumpbg3.png");
    border-radius: 10px;
  border: 2px solid #000000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  /* Display inline-block to allow centering via text-align on body */
  display: inline-block;
}

.dod-name{
    position: absolute;
    /* Adjust positioning as needed, these values might place it far right/bottom */
    right: 20px; /* Example: Position from right */
    top: 20px;   /* Example: Position from top */
    /* left: 65rem; */ /* Removed fixed pixel value */
    /* bottom: 30rem; */ /* Removed fixed pixel value */
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    color: #FFFFFF; /* Red color */
    font-size: 30px; /* Consistent size */
    font-family: 'Comic Sans MS', sans-serif; /* Consistent font */
    border-radius: 20px;
    padding: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: default;
  }
  
  .dod-name:hover {
    color: #00FF00; /* Changes text to white on hover */
    cursor: default;
    transition: color 0.5s ease, text-shadow 0.5s ease;
    text-shadow: 0px 0px 8px #FFFFFF; /* Glowing red shadow */
  }